###############
# 1. IGNORE TẤT CẢ MẶC ĐỊNH
###############
*

# Nhưng vẫn cho phép Git đi vào thư mục
!*/

###############
# 2. GIỮ LẠI CÁC FILE CẦN THEO DÕI
###############

# Source code C++
!*.cpp
!*.h
!*.hpp
!*.c

# C#
!*.cs

# Unreal Project
!*.uproject
!*.uplugin

# Config quan trọng
!/Config/
!/Config/*.ini

# Source folder
!/Source/
!/Source/**

###############
# 3. GIỮ LẠI FILE CẦN THIẾT CHO IDE / BUILD
###############

# Visual Studio Solution / Project
!*.sln
!*.vcxproj
!*.vcxproj.filters

# C# project files (nếu dùng Rider / C# module)
!*.csproj

# CMake nếu có
!CMakeLists.txt

###############
# 4. IGNORE BINARY, BUILD, INTERMEDIATE
###############

# Thư mục lớn không bao giờ commit
/Binaries/
/Build/
/DerivedDataCache/
/Intermediate/
/Saved/
/Script/
/Plugins/*/Intermediate/
/Plugins/*/Binaries/

###############
# 5. IGNORE FILE TỰ ĐỘNG SINH
###############

# Visual Studio
.vs/
*.VC.db
*.VC.opendb

# Rider / JetBrains
.idea/

# Backup / Logs
*.log
*.bak

# Generated C++ code
*.generated.h
*_automoc.cpp

# Cache file
*.pdb
*.obj

###############
# 6. GIỮ LẠI FILE .GITIGNORE
###############
!.gitignore
