# ------------------------
# Unreal Engine Git Ignore
# ------------------------

# Ignore all generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Ignore all assets (Blueprints, Maps, Materials, Meshes, etc.)
Content/**/*.uasset
Content/**/*.umap

# Keep only code, config, plugins, project file
!Source/
!Config/
!Plugins/
!*.uproject

# IDE specific
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# OS specific
.DS_Store
Thumbs.db
desktop.ini
